@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  width: 345px;
  font-family: 'Roboto', sans-serif;
}

.header-bg {
  background: url('assets/PM-Holiday-Image1.jpg') no-repeat;
  background-size: cover;
  height: 10em;
}

h1 {
  color:#BF0F35;
}

.header-bg h1 {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.1em;
}

article > h2 {
  word-spacing: 0.1em;
  line-height: 1.5em;
}

article > h2::first-letter {
  text-transform: uppercase;
}

img {
  width: 100%;
}

section .post-content {
  background-color: #BF0F35;
  color: #ffffff;
}

.post-content h3 {
  text-transform: capitalize;
  text-align: center;
}

.post-content p {
  text-indent: 0.5em;
}

.post-content p::first-letter {
  text-transform: uppercase;
}

.post-content p::after {
  content: "...";
}

.btn {
  border: 0.1em solid #BF0F35;
  background-color: #ffffff;
  color: #BF0F35;
}

.btn:hover {
  background-color: #BF0F35;
  color: #ffffff;
}

.social-media {
  background-color: #BF0F35;
}

.social-media > h4 {
  color: #ffffff;
}